@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scroll-behavior: smooth;
}

.gradient-bg {
  background: linear-gradient(180deg, #4D4036 0%, #362C23 28.12%, #261C13 100%), #D9D9D9 !important;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  border: 1px solid #000 !important;
  color: #000 !important;
  background-color: transparent !important;
}

.custom-scroll {
  &::-webkit-scrollbar-track {
    background: url("../assets/scroll-active.png");
    /* Replace with your image URL */
    background-size: cover;
  }

  /* Customize the appearance of the scrollbar thumb (optional) */
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Customize the thumb color */
  }

  /* Customize the scrollbar's corner (optional) */
  &::-webkit-scrollbar-corner {
    background: #fff;
    /* Customize the corner color */
  }

  scrollbar-color: #333 #fff;
  /* Thumb and track colors */
  scrollbar-width: thin;
}

.card-mask {
  clip-path: polygon(14px 0, 100% 0, 100% 100%, 0 100%, 0 14px);
}

.drop-scroll {
  animation: drop-scroll 3200ms infinite;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #342C25;
  /* Background color of the track */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #473C34;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb {
  background-color: #473C34;
  background-size: contain;
  background-repeat: no-repeat;
}

.Toastify__toast {
  background: linear-gradient(90deg, #831A14 0%, #4D1109 100%) !important;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.40) !important;
  color: white !important;
  position: fixed !important;
  height: 72px !important;
  top: 50% !important;
  margin-left: -160px;
  left: 50% !important;
  width: 320px !important;
}

@media only screen and (max-width: 768px) {
  .Toastify__toast {
    width: 100% !important;
    left: 0% !important;
    margin-left: 0px;
  }

  // width: 100% !important;
}

@keyframes drop-scroll {
  0% {
    transform: translate(-50%, -4px);
    opacity: 0.6;
  }

  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -4px);
    opacity: 0.6;
  }
}